<h2 md-dialog-title>Points</h2>

<div md-dialog-content>
  <md-list>
    <md-list-item>
      <div>+4</div>
      <div>Made Bed</div>
    </md-list-item>
    <md-list-item>
      <md-icon md-list-avatar>add</md-icon>
      <h4>Nice to Brothers</h4>
    </md-list-item>
    <md-list-item>
      <md-icon md-list-avatar>add</md-icon>
      <h4>Helped Mom</h4>
    </md-list-item>
  </md-list>
</div>

<div md-dialog-actions>
  <button md-button (click)="dialogRef.close('Option 1')">+1</button>
  <button md-button (click)="dialogRef.close('Option 2')">+2</button>
  <button md-button (click)="dialogRef.close('Option 2')">+3</button>
</div>